.asia-page{

    padding:60px 8%;

    min-height:100vh;
}

.asia-page h1{

    text-align:center;

    margin-bottom:15px;
}

.asia-page p{

    text-align:center;

    color:#666;

    margin-bottom:50px;
}

.country-grid{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));

    gap:25px;
}

.country-card{

    background:rgb(239, 237, 237);

    padding:45px 20px;

    border-radius:15px;

    text-align:center;

    cursor:pointer;

    box-shadow:0 5px 15px rgba(0,0,0,.08);

    transition:.3s;
}

.country-card:hover{

    transform:translateY(-8px);

    box-shadow:0 12px 25px rgba(0,0,0,.15);
}