nav {
  background-color: #8B5E3C;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 50px;

  position: sticky;
    top: 0;
    z-index: 1000;
}

nav h2 {
  font-size: 24px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 30px;

}

nav ul li {
  cursor: pointer;
   transition: color 0.3s ease;

}

nav ul li:hover {
 color: #ffd166;
}